@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
    background-image: linear-gradient(to right, #ff5722, #ff9800);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.header {
    background-image: url("../images/assets/photographer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.footer {
    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
    position: relative;
    bottom: -100px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.registration-left {
    margin-top: 130px;
}

.registration-left img {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    animation: mover 0.5s infinite alternate;
}

.header .content {
    position: relative;
    top: 150px;
}

.demo-name {
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Yellowtail', cursive;
}

.slogin {
    color: white;
    font-size: 20px;
    font-family: "Roboto Light";
}

.registration-form, .login-form {
    border: none;
    background-color: #f8f8f8;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;
}

.login-form {
    margin-top: 100px;
}

.btn-theme {
    border-radius: 1.5rem;
    border: none;
    background-color: #ff9800;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px 20px;
}

.btn-theme:hover {
    background-color: #ff5722;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.close {
    font-size: 20px;
    color: red;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover {
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.text-max{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.pointer{
    cursor: pointer;
}


@keyframes mover {
    0% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(-20px);
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/* addition for hactoberfest */

.element {
    padding-block: 30px 60px;
    writing-mode: vertical-rl; /* Determines the padding block direction */
}

.elementor {
    padding-block: 30px 60px;
    writing-mode: vertical-rl; /* Determines the padding block direction */
}

.transparent-boder {
   border-style: dotted;
     background-color: lightgrey;
     width: 300px;
     border: 15px solid green;
     padding: 50px;
     margin: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

.test-writing {
  writing-mode: vertical-rl; 
   direction: rtl;
}

.ex1 {
  min-width: 500px;
  display: inline-block;
}
.custom-th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.input-type-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content :hover{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
} 
.pagination a:hover {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.img{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
    }
/* end hactoberfest */
